body {
  background-color: yellow;
}

.header {
  text-align: center;
  background-color: coral;
}

.footer {
  text-align: center;
  background-color: coral;
}

.item {
  outline-color: solid 1px black;
}
